body {
  margin: 0px;
}
div {
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
  outline: none;
}

.App {
  text-align: center;
}

.Jumbotron {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(175, 238, 238, 0.4);
  color: white;
  background-image: url("../background.jpeg");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

.shopCart:hover {
  cursor: pointer;
}

.cart-item:hover {
  cursor: pointer;
}

/* CSStrainsition에서 정한 class -enter => 동작시작시 적용할 CSS */
.jumbTransition-enter {
  opacity: 0;
}

/* class -enter-active => 동작중에 적용할 CSS */
.jumbTransition-enter-active {
  opacity: 1;
  transition: all 500ms;
  /* 변할때 딜레이를 주는느낌 -> 0.5s에 걸쳐서 변함 */
}

/* 그럼 enter에서는 투명도가 0이고 동작시에는 1이니까 0->1로 변하는 transition이겟지? */

.alertTitle {
  color: yellow;
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 3%;
}
.alertContent {
  color: yellow;
  font-size: 3em;
  font-weight: 800;
}
